/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

* a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-wrap: wrap;
}

.btn-rest {
  background: linear-gradient(to top left, #9356DC, 55%, #FF79DA);
  color: white;
  padding: 15px 20px 15px 20px;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 2px 3px 5px #a6a6a6;
  margin-top: 40px;
  margin-bottom: 20px;
}

header {
  width: 100%;
  padding: 30px 0 15px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 7fr 2fr;
}
@media screen and (min-width: 768px) {
  header {
    grid-template-columns: 4fr 1fr 7fr 5fr;
  }
}
@media screen and (min-width: 1280px) {
  header {
    width: 75%;
    grid-template-columns: 1fr 1fr 7fr 15fr;
  }
}
header a {
  text-decoration: none;
  color: #000000be;
  grid-column-start: 2;
  display: flex;
}
@media screen and (min-width: 768px) {
  header a {
    justify-content: flex-end;
  }
}
header a i {
  font-size: larger;
  align-self: center;
}
header img {
  grid-column-start: 3;
  justify-self: center;
  align-self: center;
}

footer {
  width: 100%;
  background-color: #464646;
  margin-top: 10px;
  padding: 20px 15px 30px 25px;
}
footer h4 {
  color: white;
  font-family: "Shrikhand";
  font-size: larger;
  padding-bottom: 15px;
}
footer li {
  padding: 5px 0 5px 0;
}
footer li a {
  color: white;
}
footer li a i {
  padding-right: 10px;
}
footer li a:active {
  color: #9356DC;
}
footer li .partner i {
  font-size: small;
  padding-right: 8px;
}

.search {
  width: 100%;
  height: 55px;
}
@media screen and (min-width: 1280px) {
  .search {
    width: 25%;
    margin-top: 20px;
    height: 45px;
  }
}
.search input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #ebebeb;
  box-shadow: 0px 1px 3px #a6a6a6 inset;
  text-align: center;
  font-weight: 600;
  font-size: medium;
  font-family: "Roboto";
  color: #4d4d4d;
}
.search i {
  font-size: large;
  color: #4d4d4d;
  position: relative;
  bottom: 37px;
  left: 22%;
}
@media screen and (min-width: 500px) {
  .search i {
    left: 30%;
  }
}
@media screen and (min-width: 640px) {
  .search i {
    left: 35%;
  }
}
@media screen and (min-width: 1024px) {
  .search i {
    left: 40%;
  }
}
@media screen and (min-width: 1280px) {
  .search i {
    left: 20%;
    bottom: 32px;
  }
}

nav {
  background-color: whitesmoke;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 30px 40px 30px;
}
nav h1 {
  width: 75%;
  font-size: x-large;
  font-weight: 800;
  margin-bottom: 15px;
}
nav p {
  font-size: large;
  color: gray;
}

.functioning {
  width: 100%;
  height: 400px;
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  .functioning {
    height: 250px;
  }
}
.functioning h2 {
  font-size: x-large;
  font-weight: 700;
  margin: 20px 0 20px 0;
}
.functioning .funct-cards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1280px) {
  .functioning .funct-cards {
    justify-content: space-around;
  }
}
.functioning .funct-cards a {
  width: 90%;
  padding: 25px 0 25px 0;
  background-color: whitesmoke;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 3px 10px #d9d9d9;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1280px) {
  .functioning .funct-cards a {
    width: 30%;
  }
}
.functioning .funct-cards a * {
  position: relative;
  left: -15px;
}
.functioning .funct-cards a i {
  color: gray;
  font-size: larger;
  align-self: center;
  margin-left: 30px;
}
.functioning .funct-cards a .description {
  color: #000000;
  width: 100%;
  font-size: medium;
  font-weight: 500;
  margin-left: 30px;
  align-self: center;
}
.functioning .funct-cards a:hover {
  background-color: rgba(147, 86, 220, 0.1);
}
.functioning .funct-cards a:hover > i {
  color: #9356DC;
}
.functioning .funct-cards a:active {
  box-shadow: 0px 3px 5px #bc95e9 inset;
}
.functioning .funct-cards .number {
  padding: 3px 8px 3px 8px;
  border-radius: 20px 20px 20px 20px;
  background-color: #9356DC;
  color: #ffffff;
  align-self: center;
}

/*# sourceMappingURL=style.css.map */
