.like{
    width: 24px;
    height: 24px;
    position: relative;
    bottom: 50px;
    padding: 0;
    left: 85%;
    
    & .fa-heart{
        font-size: x-large;
        background: -webkit-linear-gradient(top, $primary, $secondary);
        background-clip:text;
        -webkit-background-clip: text;
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
    &:focus > .fa-heart{
        
        -webkit-text-stroke-width: 0px;
    }
    
}

.empty-heart {
    overflow: hidden;
    position: relative;
    
    & .fa-heart{
        font-size: x-large;
        margin: 5px 5px -5px 1px;
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
}

.full-heart{
    overflow: hidden;
    position: relative;
    z-index: 1;
    & .fa-heart{
        font-size: x-large;
        margin: 5px 5px -5px 1px;
        background-image: -webkit-linear-gradient(top, $primary, $secondary);
        background-clip:text;
        -webkit-background-clip: text;
        color: transparent;
        opacity: 0;
    }
    &:focus > .fa-heart{
        opacity: 1;
    }
    &:focus + .empty-heart{
        opacity: 0;
    }
}

@keyframes like {
    
}
