/* Home */

.like{
    width: 24px;
    height: 24px;
    position: relative;
    padding: 0;
    bottom: 50px;
    left: 85%;

    & input{
        opacity: 0;
        width: 0;
        height: 0;
        &:checked + .fa-heart{
            -webkit-text-stroke-width: 0px;
            animation: like 0.2s linear forwards;
        }
        @include desktop-only{
            &:hover + .fa-heart{
                -webkit-text-stroke-width: 0px;
                animation: like 0.2s linear forwards;
            }
        }
    }

    & .fa-heart{
        font-size: x-large;
        position: absolute;
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
    
    
    
    
    
}



/* Restaurants */

.menu-like{
    width: 24px;
    height: 24px;
    position: relative;
    
    & input{
        opacity: 0;
        width: 0;
        height: 0;
        &:checked + .fa-heart{
            -webkit-text-stroke-width: 0px;
            animation: like 0.2s linear forwards;
        }
        @include desktop-only{
            &:hover + .fa-heart{
                -webkit-text-stroke-width: 0px;
                animation: like 0.2s linear forwards;
            }
        }
    }

    & .fa-heart{
        font-size: x-large;
        position: absolute;
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
}

@keyframes like{
    from{transform: scale(1.01);
        background: -webkit-linear-gradient(top, $primary, $secondary);
        background-clip:text;
        -webkit-background-clip: text;
        color: transparent;
        background-repeat: no-repeat;
        background-position-y: 25px;}

    to{ transform: scale(1.01);
        background: -webkit-linear-gradient(top, $primary, $secondary);
        background-clip:text;
        -webkit-background-clip: text;
        color: transparent;
        background-repeat: no-repeat;
        background-position-y: 0;}
}
