.like{
    & .fa-heart{
        font-size: x-large;
    }
    width: 24px;
    height: 24px;
    position: relative;
    bottom: 50px;
    left: 85%;
}

.menu{
    & .fa-heart{
        font-size: x-large;
        margin: 5px 10px 0 0;
    }
}